@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Judson&display=swap');
html{
    padding:0;
    margin:0;
}
body {
    font-family: 'Archivo', sans-serif;
    font-family: 'Judson', serif;
}

/*Flexbox style*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.OneContainer{
    width: 330px;
    display: flex;
   flex-flow: column;
   justify-content: center;
}
.OneContainer .image, .OneContainer .header h3{
    display: flex;
    justify-content: center;
}
.OneContainer .header p.text{
   text-align: center;
}