@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html{
    padding:0;
    margin:0;
}
h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:35px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 40px 0px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    color: grey;
  
}
h3{
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-size: 17px;
}
/*Flexbox style*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 
}
.OneContainer{
    width: 330px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color:rgb(235, 234, 232);
    margin-top: 30px;
    border-radius: 10px;
}
.OneContainer .image img{
    width: 90%;
    height: 400px;
}

.OneContainer .image, .OneContainer .header h3{
    display: flex;
    justify-content: center;
}
.OneContainer .header p.text{
    text-align: center;
}
.OneContainer .header p.price{
    margin: 10px 10px;
}
.OneContainer .header p.currentPrice{
    margin: 10px 10px 20px 10px;
    color: black;
    font-size:20px;
    font-weight: bold;
}
/* .OneContainer .lastElement p.like{
    margin-left: 15px;
    font-size: 15px;
}
.fa-heart{
    margin-right: 10px;
    color: rgb(239, 87, 108);
    font-size: 18px;
}
.OneContainer .lastElement p.shop{
     position: relative;
    top: -35px;
    right: -235px; 
    position: absolute;
    top: -100px;
    text-transform: uppercase;
    color:rgb(255, 66, 150);
    font-size: 15px;
    font-weight: bold;
}
.lastElement    {
    margin-bottom: -30px;
}  */
.lastElement ul{
    list-style: none;
    display: inline;
    margin-left: -25px;
} 
.lastElement ul li {
    display: inline-block;
}
.lastElement ul li.like .fa-heart{
    color: rgb(239, 87, 108);
    font-size: 19px;
    margin-left: 1px;
    margin-right:3px;
    cursor: pointer;
}
.lastElement ul li.like .fa-heart:hover{
    color: #FF3030;
}
.lastElement ul li.like span.likeNumber{
    font-family: 'Montserrat', sans-serif;
    font-size: 15.5px;
    color: grey;
}
.lastElement ul li.shop{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color:rgb(255, 66, 150);
    font-weight: bold;
    margin-right: 15px;
    cursor: git ;
}
.lastElement{
    margin-bottom: 12px;
    margin-top:10px;
}


   
